<div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1 mb-4">
    <div class="justify-self-end flex gap-2">
        <button
            class="swiper-button-prev bg-gray-200 hover:bg-gray-1000 rounded-full p-2 flex items-center justify-center">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button
            class="swiper-button-next  bg-gray-200 hover:bg-gray-1000 rounded-full p-2 flex items-center justify-center">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
</div>
<swiper-container #swiperRef class="mySwiper" >
    <swiper-slide>
        <div class="max-w-sm bg-white border border-gray rounded-xl shadow-md overflow-hidden p-6 group">
            <div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1">
                <div class="flex justify-between">
                    <h1 class="text-lg font-semibold  px-6">{{ 'GOV_TO_GOV' | translate}}</h1>
                    <p class="group-hover:text-green-200">01</p>
                </div>
                <span class="text-sm text-gray px-6 mt-6">{{ 'LOREM_SMALL' | translate}}</span>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1 mt-6">
                <div class="justify-self-end">
                    <i class="fas fa-users text-60 text-gray group-hover:text-green-200"></i>
                </div>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="max-w-sm bg-white border border-gray rounded-xl shadow-md overflow-hidden p-6 group">
            <div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1">
                <div class="flex justify-between">
                    <h1 class="text-lg font-semibold  px-6">{{ 'GOV_TO_GOV' | translate}}</h1>
                    <p class="group-hover:text-green-200">01</p>
                </div>
                <span class="text-sm text-gray px-6 mt-6">{{ 'LOREM_SMALL' | translate}}</span>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1 mt-6">
                <div class="justify-self-end">
                    <i class="fas fa-users text-60 text-gray group-hover:text-green-200"></i>
                </div>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="max-w-sm bg-white border border-gray rounded-xl shadow-md overflow-hidden p-6 group">
            <div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1">
                <div class="flex justify-between">
                    <h1 class="text-lg font-semibold  px-6">{{ 'GOV_TO_GOV' | translate}}</h1>
                    <p class="group-hover:text-green-200">01</p>
                </div>
                <span class="text-sm text-gray px-6 mt-6">{{ 'LOREM_SMALL' | translate}}</span>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1 mt-6">
                <div class="justify-self-end">
                    <i class="fas fa-users text-60 text-gray group-hover:text-green-200"></i>
                </div>
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="max-w-sm bg-white border border-gray rounded-xl shadow-md overflow-hidden p-6 group">
            <div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1">
                <div class="flex justify-between">
                    <h1 class="text-lg font-semibold  px-6">{{ 'GOV_TO_GOV' | translate}}</h1>
                    <p class="group-hover:text-green-200">01</p>
                </div>
                <span class="text-sm text-gray px-6 mt-6">{{ 'LOREM_SMALL' | translate}}</span>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-1 sm:grid-cols-1 mt-6">
                <div class="justify-self-end">
                    <i class="fas fa-users text-60 text-gray group-hover:text-green-200"></i>
                </div>
            </div>
        </div>
    </swiper-slide>

</swiper-container>